[gerrit]
  basePath = git

[database]
  type = postgresql
  hostname = postgres
  database = reviewdb
  username = gerrit

[index]
  type = LUCENE

[auth]
  type = ldap
  gitBasicAuth = true
	gitBasicAuthPolicy = HTTP

[ldap]
  server = ldap://ldap-kha.kha.mirantis.net
  accountBase = ou=people,o=mirantis,dc=mirantis,dc=net
  groupBase = ou=groups,o=mirantis,dc=mirantis,dc=net
  username = 
  password =
  accountFullName = cn
  accountPattern = (&(objectClass=person)(uid=${username}))
  accountEmailAddress = mail
  groupMemberPattern = (&(objectClass=Posixgroup)(member=${cn}))
  sslVerify =
  accountSshUserName =

[sendemail]
  smtpServer = localhost

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = http://*:8080/

[cache]
  directory = cache

[container]
  user = root
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.191.b12-1.el7_6.x86_64/jre
[noteDb "changes"]
	autoMigrate = true
[receive]
	enableSignedPush = false
